@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600");

* {
    font-family: 'Source Sans Pro', cursive;
    font-weight: 300;
    color: #52575c;
    line-height: 1.75em;
    font-size: 15pt;
}

.h1 {
    font-size: 500pt;
    font-weight: 500;
    color: black;
}

.button {
    background: #fff;
    border-color: rgba(255, 255, 255, 0);
    color: #f08c89;
    font-size: 1.25em;
}


.pink-wrapper {
    position: relative;
    background-image: url("./images/header.svg");
    background-image: url("./images/overlay.png"), url("./images/header.svg"), -moz-linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
    background-image: url("./images/overlay.png"), url("./images/header.svg"), -webkit-linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
    background-image: url("./images/overlay.png"), url("./images/header.svg"), -ms-linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
    background-image: url("./images/overlay.png"), url("./images/header.svg"), linear-gradient(75deg, #FF7088 15%, #F2B69D 55%);
    background-color: #f08c89;
    background-size: 100% 620%;
    background-size: 128px 128px, 100% 620%, auto;
    background-repeat: repeat, no-repeat, no-repeat;
    padding: 8em 0 4em 0;
}

.profile-img {
    border-radius: 50%;
    height: 200px;

}

  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
  }


.resume-section {
    padding: 60px 0;
}

.profile-img2 {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}